Flask==2.3.3
Flask-Cors==4.0.0
Flask-PyMongo==2.3.0
Flask-JWT-Extended==4.5.2
Werkzeug==2.3.7
androguard==3.4.0a1
python-dotenv==1.0.0
pymongo==4.5.0
numpy<2.0.0
transformers==4.36.2
torch==2.2.0
sentencepiece==0.2.0
protobuf==4.25.2
lxml>=4.9.3
cryptography>=41.0.0
asn1crypto>=1.5.1
click>=8.0.0
colorama>=0.4.6
networkx>=3.0
matplotlib>=3.7.0
pydot>=1.4.2
beautifulsoup4>=4.12.0
reportlab
flask-socketio